<script src="/javascripts/socket.io.js"></script>
<script>
 var socket = io.connect('http://localhost');
 socket.on('news', function (data) {
   console.log(data);
   socket.emit('my other event', { my: 'data' });
 });
</script>


<br>
<br>
<hr>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="container">

<div class="page-header">
  <h1>The New York Times, Cut Up</h1>
  <br>
  <p>All headlines from the Times home page, cut up.</p>
  <p>More information:</p>
  <p><a href="http://www.writing.upenn.edu/~afilreis/88v/tzara.html">http://www.writing.upenn.edu/~afilreis/88v/tzara.html <i class="em em-scissors"></i></a></p>
  <p><a href="http://www.nytimes.com">http://www.nytimes.com <i class="em em-newspaper"></a></i></p>
  <p><a href="https://kdubbels.github.io/">https://kdubbels.github.io <i class="em em-milky_way"></i></a></p>
    <h2>Updated once an hour.</h2>
</div>

<% headlines.forEach(function(headline) { %>
	
	<h2><%= headline.createdAt %></h2>
    
    <p><%= headline.headline %></p>

<% }) %>


<div class="well text-center">No copyright intended. Kristofer Dubbels, 2015. I made no money off of this.<br><i class="em em-feelsgood"></i><i class="em em-metal"></i><i class="em em-coffee"></i></div>

</div><!-- .container -->